@media screen and (min-width: 1024px) {


    body {
        background: #95a8c8;
        font-family: 'Playfair Display', serif;
        font-weight: lighter;


    }

    .header {
        display: flex;
        justify-content: space-evenly;
        background-color: black;
        box-shadow: 1px 1px 25px white;
        height: 180px;



    }

    .picture {
        display: block;
        height: 150px;
        width: 100;
        border-radius: 50%;
        border: 2px solid white;
        box-shadow: 2px 2px 20px white;
        margin-bottom: 5%;
        margin-top: 1%;

    }

    .title-container {

        padding: 4px;
        font-size: 1.5rem;
        align-self: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-shadow: 0px 1px 20px white;
        color: #99A6BD;
        line-height: 50px;
    }

    .title {
        font-size: 1.5rem;
        text-shadow: 0px 1px 20px white;
        color: white;
    }

    .second-title {
        text-shadow: 0px 1px 10px white;
        color: white;
        font-size: 1.2rem;

    }

    .third-title {
        display: none;
        color: white;
    }

    .fourth-title {
        color: #c6d0e4;
        text-shadow: 2px 2px 30px white;
        font-size: 1.1rem;

    }



    .logo-container {
        padding-top: 3%;
        padding-bottom: 3%;
        width: 40%;
        height: 50px;
        align-self: center;
        display: flex;
        justify-content: space-evenly;
    }

    .logo-canva {
        background-color: blanchedalmond;
        border-radius: 50%;
        box-shadow: 1px 1px 1px blanchedalmond;
    }

    .afpa-logo {
        height: 47px;
        width: 85px;
        margin-top: 5%;
        display: none;
    }

    .afpa-container {
        display: none;
    }

    .oclock-logo {
        height: 50px;
        width: 50px;
        box-shadow: 1px 1px 15px white;
        margin-top: 1%;
    }

    .opquast-logo {
        height: 50px;
        width: 50px;
        box-shadow: 1px 1px 15px white;
        margin-top: 3%;

    }

    .opquast-certif {
        height: 50px;
        width: 50px;
        box-shadow: 1px 1px 15px white;
        margin-top: 1%;
    }

    .logo-youtube {
        border-radius: 50%;
        border: 2px solid black;
        background-color: black;
    }

    .vimeo-logo {
        border-radius: 50%;
        border: 2px solid black;
        background-color: black;
    }

    .dark-container {
        font-weight: bold;
        background-color: black;
        font-size: 0.9rem;
        box-shadow: 0px 1px 30px white;
        text-align: center;
        border-top: 2px solid whitesmoke;
        border-bottom: 2px solid whitesmoke;
        line-height: 35px;
        text-shadow: 0px 1px 40px white;
        padding-bottom: 2%;
    }



    .projets-etudes {
        margin-top: 2%;
    }

    .title-chapitre {
        font-size: 0.9rem;
        margin-top: 1%;
        color: black;
    }

    .title-section {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5%;
        margin-top: 2%;
    }

    .title-section-light {
        color: white;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5%;
        margin-top: 2%;

    }

    .light-container {
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        line-height: 35px;
        text-shadow: 1px 1px 35px whitesmoke;
        font-size: 0.9rem;
        font-weight: 500;
    }

    .groupe-logolink {
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        border: 1px solid whitesmoke;
        font-family: 'Playfair Display', serif;
        border-radius: 50px;
        box-shadow: 0px 0.5px 15px white;
        width: 100%;
        margin-bottom: 3%;
        margin-top: 1%;
        height: 23px;


    }

    .link-vidz {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 0.8rem;
        margin-right: 20%;
    }

    .container-link-youtube {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: black;

        border-radius: 50px;
        width: 50%;
        margin-left: 25%;
        margin-top: 1%;
        height: 23px;
        box-shadow: 1px 1px 25px white;
    }

    .link-youtube {
        font-size: 0.8rem;
        font-family: 'Playfair Display', serif;
        margin-right: 20%;

    }

    .link-groove {

        width: 100%;
        font-size: 0.8rem;
        margin-right: 35%;
    }


    .footer {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: black;
        color: #99A6BD;
        width: 100%;
        border-top: 2px solid whitesmoke;
        border-bottom: 2px solid whitesmoke;
        box-shadow: 1px 1px 25px white;
        bottom: 0;
        left: 0;


    }

    .gmail {
        color: white;
        display: flex;
        align-items: center;
        font-family: 'Reenie Beanie', cursive;
        font-size: 1.2rem;
        padding-bottom: 3%;
        padding-top: 3%;
    }

    .logo-gmail {
        height: 28px;
        width: 28px;
        box-shadow: 1px 1px 25px white;
        border-radius: 50px;
    }

    .mail {
        text-shadow: 3px 3px 6px whitesmoke;
    }

    .localise {

        display: flex;
        align-items: center;
        text-shadow: 3px 3px 6px white;
        color: white;
        font-size: 1rem;
    }

    .maps {
        height: 30px;
        width: 30px;
    }


    .logo-git {
        background-color: whitesmoke;
        height: 40px;
        width: 40px;
        box-shadow: 1px 1px 25px white;

    }

    .link-cv {
        text-shadow: 5px 1px 5px rgb(0, 0, 0);
        font-family: 'Playfair Display', serif;
        font-size: 0.8rem;

    }

    .download-cv {
        display: flex;
        justify-content: center;
        border: 2px solid black;
        align-items: center;
        text-align: center;
        background-color: black;
        border-radius: 10px;
        width: 100%;
        height: 23px;
        box-shadow: 1px 1px 5px white;
        margin-top: 20%;
        margin-bottom: -3%;
    }
}