@media screen and (min-width: 1024px) {


    body {
        background: #95a8c8;
        font-family: 'Playfair Display', serif;
        font-weight: lighter;


    }

    .header {
        display: flex;
        justify-content: space-evenly;
        background-color: black;
        box-shadow: 1px 1px 25px white;




    }

    .picture {
        display: block;
        height: 200px;
        width: 250;
        border-radius: 50%;
        border: 2px solid white;
        box-shadow: 2px 2px 20px white;
        margin-bottom: 5%;
        margin-top: 5%;

    }

    .title-container {

        padding: 4px;
        font-size: 2rem;
        align-self: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-shadow: 0px 1px 20px white;
        color: #99A6BD;
        line-height: 50px;
    }

    .title {
        font-size: 2.5rem;
        text-shadow: 0px 1px 20px white;
        color: white;
    }

    .second-title {
        text-shadow: 0px 1px 10px white;
        color: white;
    }

    .third-title {
        display: none;
        color: white;
    }

    .fourth-title {
        color: #c6d0e4;
        text-shadow: 2px 2px 30px white;
    }



    .logo-container {
        padding-top: 3%;
        padding-bottom: 3%;
        width: 40%;
        height: 50px;
        align-self: center;
        display: flex;
        justify-content: space-evenly;
    }

    .logo-canva {
        background-color: blanchedalmond;
        border-radius: 50%;
        box-shadow: 1px 1px 1px blanchedalmond;
    }

    .afpa-logo {
        height: 47px;
        width: 85px;
        margin-top: 5%;
    }

    .oclock-logo {
        height: 50px;
        width: 50px;
        box-shadow: 1px 1px 15px white;
        margin-top: 5%;
    }

    .opquast-logo {
        height: 50px;
        width: 50px;
        box-shadow: 1px 1px 15px white;
        margin-top: 5%;
    }

    .opquast-certif {
        height: 50px;
        width: 50px;
        box-shadow: 1px 1px 15px white;
        margin-top: 1%;
    }

    .dark-container {
        font-weight: bold;
        background-color: black;
        color: #c6d0e4;
        width: 100%;

        align-self: center;
        font-size: 1.5rem;
        box-shadow: 0px 1px 30px white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-top: 2px solid whitesmoke;
        border-bottom: 2px solid whitesmoke;
        line-height: 45px;
        text-shadow: 0px 1px 40px white;

    }

    .title-chapitre {
        font-size: 1.7rem;
        font-weight: bold;
        margin-top: 15px;
    }

    .title-section {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1%;
    }

    .title-section-light {
        color: black;
        font-size: 1.8rem;
        margin-bottom: 3%;
        margin-top: 15%;
        font-weight: 500;
    }

    .light-container {
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        line-height: 45px;
        text-shadow: 1px 1px 35px whitesmoke;
        font-size: 1.7rem;
        font-weight: 500;
    }

    .groupe-logolink {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(#99BCAF, #99A6BD);
        border: 1px solid whitesmoke;
        font-weight: bold;
        font-family: 'Reenie Beanie', cursive;
        border-radius: 50px;
        box-shadow: 0px 0.5px 15px white;
        width: 100%;
        margin-bottom: 10%;


    }

    .link-vidz {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 1.7rem;
        margin-right: 20%;
    }

    .container-link-youtube {
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;

        font-weight: bold;
        font-family: 'Reenie Beanie', cursive;

        border-radius: 50px;

        width: 50%;
        margin-left: 25%;

        margin-top: 3%;
    }

    .link-youtube {
        display: flex;
        justify-content: center;
        text-align: center;

        font-size: 1.8rem;

    }

    .link-groove {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 1.7rem;
        margin-right: 28%;
    }


    .footer {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: black;
        color: #99A6BD;
        width: 100%;
        border-top: 2px solid whitesmoke;
        border-bottom: 2px solid whitesmoke;
        box-shadow: 1px 1px 25px white;


    }

    .gmail {
        color: white;
        display: flex;
        align-items: center;
        font-family: 'Reenie Beanie', cursive;
        font-size: 2rem;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .logo-gmail {
        height: 38px;
        width: 38px;
        box-shadow: 1px 1px 25px white;
        border-radius: 50px;
    }

    .mail {
        text-shadow: 3px 3px 6px whitesmoke;
    }

    .localise {

        display: flex;
        align-items: center;
        text-shadow: 3px 3px 6px white;
        color: white;
        font-size: 1rem;
    }

    .maps {
        height: 30px;
        width: 30px;
    }


    .logo-git {
        background-color: whitesmoke;
        height: 58px;
        width: 58px;
        box-shadow: 1px 1px 25px white;

    }

    .link-cv {
        text-shadow: 5px 1px 5px rgb(0, 0, 0);
        font-family: 'Reenie Beanie', cursive;
        font-size: 1.8rem;
        font-weight: bold;
        align-items: center;
    }

    .download-cv {
        border: 2px solid black;
        text-align: center;
        background-color: black;
        color: #99BCAF;
        border-radius: 10px;
    }
}