body {
    background-color: #99BCAF;
}

.header {
    display: flex;
    justify-content: center;
}

.picture {
    width: 350px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid black;

}