body {
    background: linear-gradient(#99BCAF, #99A6BD);
}

.header {
    background-color: black;
    color: #99BCAF;
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    height: 350px;
    border-bottom: 2px solid white;
    font-family: 'Reenie Beanie', cursive;
    box-shadow: 1px 1px 25px white;
}

.picture {
    height: 250px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 2px 2px 20px white;
    margin-left: 100px;
    margin-top: 50px;
}



.title-container {
    align-self: center;
    text-align: center;
    height: 250px;
    width: 500px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 5rem;
    text-shadow: 0px 1px 20px white;
    color: white;
}

.second-title {
    font-size: 3rem;
    text-shadow: 0px 1px 10px white;
    color: white;
}

.third-title {
    font-size: 3rem;
    text-shadow: 0px 1px 10px white;
    color: white;
}

.fourth-title {
    font-size: 1.8rem;
    text-shadow: 2px 8px 15px white;
    color: white;
}

.logo-container {
    align-self: center;
    margin-right: 100px;
    width: 550px;
    height: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo-canva {
    background-color: blanchedalmond;
    border-radius: 50%;
    box-shadow: 1px 1px 1px blanchedalmond;
}

.afpa-logo {
    height: 30px;
    width: 50px;
    margin-top: 5px;
}

.oclock-logo {
    height: 30px;
    width: 30px;
    box-shadow: 1px 1px 15px white;
}

.youtube-logo {
    display: flex;
}

.logo-git {
    background-color: white;
}

.groupe-logolink {
    display: flex;
    align-items: center;
    background: linear-gradient(#99BCAF, #99A6BD);
    border: 1px solid white;
    text-shadow: 5px 1px 5px white;
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.2rem;
    border-radius: 50px;
    box-shadow: 1px 1px 15px white;
    width: 400px;
}




.main {
    display: flex;
    justify-content: space-between;
}

.light-container {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 20px;
    text-shadow: 0px 1px 10px white;
}

.title-chapitre {
    font-weight: bold;
    margin-top: 10px;
}

.formations {
    color: #99BCAF;
}

.dark-container {
    background-color: black;
    color: #99BCAF;
    width: 45%;
    height: 100vh;
    align-self: center;
    order: 5;
    border-left: 2px solid white;
    box-shadow: 1px 1px 25px white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2rem;
    line-height: 20px;
    text-shadow: 0px 1px 10px white;
    animation-duration: 15s;
}



.title-section {
    padding: 15px;
    text-shadow: 3px 3px 6px white;
    font-weight: bold;
    font-size: 1.3rem;
}

.link-youtube {
    display: inline;
    float: inline-end;
}

.link-cv {
    text-shadow: 5px 1px 5px white;
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    align-items: center;
}

.download-cv {
    border: 2px solid black;
    width: 450px;
    height: 20px;
    text-align: center;
    background-color: black;
    color: #99BCAF;
    margin-top: 40px;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: #99BCAF;
    width: 0 auto;
    height: 150px;
    border-top: 2px solid white;
    box-shadow: 1px 1px 25px white;
}

.gmail {

    margin-top: 40px;
    color: white;
    display: flex;
    height: 32px;
    align-items: center;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2rem;
}

.logo-gmail {
    box-shadow: 1px 1px 25px white;
    border-radius: 50px;
}

.mail {
    text-shadow: 3px 3px 6px white;
}

.localise {
    margin-top: 40px;
    display: flex;
    align-items: center;
    height: 28px;
    width: 162px;
    text-shadow: 3px 3px 6px white;
    color: white;
    font-size: 1.2rem;
}

.maps {
    height: 28px;
    width: 28px;
}


.github {
    margin-top: 40px;
    display: flex;
    box-shadow: 1px 1px 25px white;
    height: 64px;
    align-items: center;
}


@media screen and (max-width: 600px) {
    .picture {
        display: none;
    }

    .photo-main {
        display: run-in;
        height: 60px;
        width: 60px;
        border-radius: 50px;
        border: 1px solid black;
        box-shadow: 1px 1px 25px white;
    }

    .header {
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        width: 0% auto;

    }

    .logo-container {
        width: 115px;
        height: 20px;
    }

    .title-container {
        flex-direction: row;
        text-align: center;
        align-items: center;
        width: 90px;
        height: 20px;
        justify-content: space-evenly;
    }

    .title {
        font-size: 1.2rem;

    }

    .second-title {
        font-size: 1rem;
        margin-left: 45px;
    }

    .third-title {
        display: none;
    }

    .fourth-title {
        font-size: 1rem;
        margin-right: 55px;

    }

    .dark-container {
        font-size: 0.5rem;
    }

    .title-section {
        font-size: 0.7rem;
        padding: 2px;
        text-decoration: underline white;
    }

    .light-container {
        font-size: 0.8rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .groupe-logolink {
        display: flex;
        justify-content: center;
        width: 345px;
        background: linear-gradient(#99BCAF, #99A6BD);
        border: 1px solid white;
    }

    .footer {
        border-bottom: 3px solid white;
        box-shadow: 4px 100px 100px 10px white;
        height: auto;
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
    }

    .github {
        margin: 15px;
        width: 42px;
        height: 42px;
    }

    .logo-git {
        width: 42px;
        height: 42px;
    }

    .maps {
        height: 22px;
        width: 22px;
    }

    .gmail {
        font-size: 1.3rem;
    }

    .localise {
        font-size: 0.8rem;
    }

    .link-cv {
        margin-bottom: 25px;
    }
}

@media (min-width: 601px) and (max-width: 1125px) {
    .picture {
        height: 150px;
        width: 200;

    }

    .header {
        height: 250px;
        font-size: 1rem;
        display: flex;
        justify-content: space-evenly;
    }

    .title-container {
        display: flex;
        justify-content: space-evenly;
    }

    .title {
        font-size: 2.5rem;
    }

    .second-title {
        font-size: 1.5rem;
    }

    .third-title {
        font-size: 1rem;
    }

    .fourth-title {
        font-size: 0.8rem;
        width: 50px;
        padding: 15px;

    }

    .dark-container {
        font-size: 0.9rem;
    }

    .light-container {
        font-size: 0.9rem;
    }

    .title-section {
        font-size: 1rem;
        padding: 2px;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .github {
        margin-bottom: 10px;
    }
}