body {
    background-color: #99BCAF;
}

.header {}

.picture {
    width: 350px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid black;

}

.logo-js {
    width: 64px;
    height: 64px;
}