@media screen and (min-width:768px) {
    body {
        background: #95a8c8;
        font-family: 'Playfair Display', serif;
        color: black;



    }

    .header {
        display: flex;
        justify-content: space-evenly;
        background-color: black;
        box-shadow: 1px 1px 25px white;




    }

    .picture {
        display: block;
        height: 150px;
        width: 200;
        border-radius: 50%;
        border: 2px solid white;
        box-shadow: 2px 2px 20px white;
        margin-bottom: 5%;
        margin-top: 5%;

    }

    .title-container {

        padding: 4px;
        font-size: 1rem;
        align-self: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-shadow: 0px 1px 20px white;
        color: #99A6BD;
        line-height: 30px;
    }

    .title {
        font-size: 1.4rem;
        text-shadow: 0px 1px 20px white;
        color: white;
    }

    .second-title {
        text-shadow: 0px 1px 10px white;
        color: white;
    }

    .third-title {
        display: none;
        color: white;
    }

    .fourth-title {
        color: #c6d0e4;
        text-shadow: 2px 2px 30px white;
    }



    .logo-container {
        padding-top: 3%;
        padding-bottom: 3%;
        width: 50%;
        height: 40px;
        align-self: center;
        display: flex;
        justify-content: space-evenly;
    }

    .logo-canva {
        background-color: blanchedalmond;
        border-radius: 50%;
        box-shadow: 1px 1px 1px blanchedalmond;
    }

    .afpa-logo {
        height: 30px;
        width: 49px;
        margin-top: 10%;
        display: none;
    }

    .afpa-container {
        display: none;
    }

    .oclock-logo {
        height: 35px;
        width: 35px;
        box-shadow: 1px 1px 15px white;
        margin-top: 1%;
    }

    .opquast-logo {
        height: 35px;
        width: 35px;
        box-shadow: 1px 1px 15px white;
        margin-top: 3%;
    }

    .opquast-certif {
        height: 35px;
        width: 35px;
        box-shadow: 1px 1px 15px white;
        margin-top: 3%;
    }

    .dark-container {
        font-weight: bold;
        background-color: black;
        color: #bbc3d3;
        width: 100%;

        align-self: center;
        font-size: 0.9rem;
        padding-bottom: 2%;
        box-shadow: 0px 1px 15px white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-top: 2px solid whitesmoke;
        border-bottom: 2px solid whitesmoke;
        line-height: 23px;
        text-shadow: 0px 0.5px 25px white;

    }

    .title-chapitre {
        font-size: 1rem;
        font-weight: 100;
        margin-top: 2%;
    }

    .title-section {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1%;
        margin-top: 3%;

    }

    .title-section-light {
        color: whitesmoke;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 2%;
        margin-top: 3%;
    }

    .light-container {
        align-items: center;
        text-align: center;
        display: flex;
        font-weight: lighter;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        line-height: 23px;
        text-shadow: 10px 10px 30px rgb(199, 199, 250);
        font-size: 0.9rem;
    }

    .groupe-logolink {
        display: flex;
        align-self: center;
        align-items: center;
        background: black;
        border: 1px solid whitesmoke;
        font-weight: bold;
        font-family: 'Playfair Display', serif;
        font-size: 0.8rem;
        border-radius: 50px;
        box-shadow: 1px 1px 15px white;
        width: 100%;
        margin-top: 1%;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-between;
    }

    .link-vidz {

        font-size: 0.8rem;
        margin-right: 30%;
    }

    .container-link-youtube {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: black;


        font-family: 'Playfair Display', serif;
        font-size: 0.8rem;
        border-radius: 50px;

        width: 50%;
        margin-left: 25%;

        margin-top: 1%;
    }

    .link-youtube {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-right: 25%;
        font-size: 0.8rem;

    }

    .link-groove {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 0.8rem;
        margin-right: 37%;
    }



    .footer {

        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: black;
        color: #99A6BD;
        width: 100%;
        border-top: 2px solid whitesmoke;
        border-bottom: 2px solid whitesmoke;
        box-shadow: 1px 1px 25px white;

    }

    .gmail {
        color: white;
        display: flex;
        align-items: center;
        font-family: 'Reenie Beanie', cursive;
        font-size: 1.5rem;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .logo-gmail {
        height: 28px;
        width: 28px;
        box-shadow: 1px 1px 25px white;
        border-radius: 50px;
    }

    .mail {
        text-shadow: 3px 3px 6px whitesmoke;
        margin-bottom: 3%;
    }

    .localise {

        display: flex;
        align-items: center;
        text-shadow: 3px 3px 6px white;
        color: white;
        font-size: 0.9rem;
    }

    .maps {
        height: 30px;
        width: 30px;
    }


    .logo-git {
        background-color: whitesmoke;
        height: 48px;
        width: 48px;
        box-shadow: 1px 1px 25px white;

    }

    .link-cv {

        font-family: 'Playfair Display', serif;
        font-size: 0.8rem;
        font-weight: bold;
        align-items: center;
        text-decoration: none;
    }

    .download-cv {
        border: 2px solid black;
        text-align: center;
        background-color: black;
        color: #99BCAF;
        border-radius: 10px;
        box-shadow: 1px 1px 5px white;
        margin-bottom: -4%;
        margin-top: 20%;
    }
}